package lib.api;

import com.google.gson.Gson;
import com.google.gson.JsonElement;
import com.google.gson.JsonObject;
import java.util.HashMap;
import org.openide.util.MapFormat;
import Helpers.ResponseObject;
import Helpers.HttpUtils;
import java.io.IOException;
{{#imports}}
{{#enums}}
import lib.enums.{{.}};
{{/enums}}
{{#models}}
import lib.models.{{.}};
{{/models}}
{{/imports}}

public class {{tag}}{
{{#methods}}

    /**
    / {{method_desc}}
    {{#param_info}}
    / @param {{param_name}}:{{param_type}}{{#isArray}}[]{{/isArray}} {{param_desc}}
    {{/param_info}}
    /
    / <a href="https://bungie-net.github.io/#{{endpoint_tag}}.{{method_name}}">{{endpoint_tag}}.{{method_name}}</a>
    */

    public static ResponseObject<{{return_type}}> {{method_name}}(
        {{#param_info}}
        {{#required}}{{param_type}}{{#isArray}}[]{{/isArray}} {{param_name}}, {{/required}}
        {{/param_info}}
        {{#isPost}}{{request_type}} requestBody, {{/isPost}}Helpers.HttpUtils util) throws IOException
    {
        String path_unformatted = "{{path}}";
        HashMap map = new HashMap();
        {{#param_info}}{{#required}}
            map.put("{{param_name}}", {{param_name}});
        {{/required}}{{/param_info}}
        String path = MapFormat.format(path_unformatted, map);
        JsonObject responseJson = util.{{endpoint_type}}BungieEndpoint(path);
        System.out.println(responseJson);
        ResponseObject<{{return_type}}> response = new ResponseObject(responseJson);
        if(!responseJson.get("ErrorCode").equals(200)){
            System.out.println("Error: "+responseJson.get("DetailedErrorTrace"));
        }
        return response;
    }
    
    {{#has_query}}
    public static ResponseObject<{{return_type}}> {{method_name}}(
        {{#param_info}}{{param_type}}{{#isArray}}[]{{/isArray}} {{param_name}},
        {{/param_info}}{{#isPost}}{{request_type}} requestBody, {{/isPost}}
        Helpers.HttpUtils util
    )throws IOException{
        String path_unformatted = "{{path}}";
        HashMap map = new HashMap();
        {{#param_info}}{{#required}}
            map.put("{{param_name}}", {{param_name}});
        {{/required}}{{/param_info}}
        String path = MapFormat.format(path_unformatted, map);
        String path_params = "?";
        path_params += {{#param_info}}{{^required}}"{{param_name}}="+{{param_name}}{{^last}}+"&"+{{/last}}{{/required}}{{/param_info}};
        path += path_params;
        JsonObject responseJson = util.{{endpoint_type}}BungieEndpoint(path);
        System.out.println(responseJson);
        ResponseObject<{{return_type}}> response = new ResponseObject(responseJson);
        if(!responseJson.get("ErrorCode").equals(200)){
            System.out.println("Error: "+responseJson.get("DetailedErrorTrace"));
        }
        return response;
    }
    {{/has_query}}
{{/methods}}
}
