package lib.enums;


public enum {{class_name}}{
{{#values}}
    /* {{#description}}{{.}}{{/description}} */
    {{identifier}}(({{cast_type}}){{numericValue}}),

{{/values}}
// value not found fallback
ProtectedInvalidEnumValue(({{cast_type}})999999999);

private {{enum_type}} enumValue;

private {{class_name}}({{enum_type}} bungieEnumValue) {
this.enumValue = bungieEnumValue;
}

@Override
public String toString(){
return enumValue + "";
    }

    public {{enum_type}} getTypeDefinition() {
	    return enumValue;
    }
}
