package lib.responses;

import java.util.Map;
import com.google.gson.Gson;
import com.google.gson.JsonElement;
{{#models}}import lib.models.{{models}};{{/models}}

public class {{response_name}}{
{{{response_type}}} Response;
int ErrorCode;
int ThrottleSeconds;
String ErrorStatus;
String Message;
Map
<String, String> MessageData;
String DetailedErrorTrace;
JsonElement json;

public {{response_name}}(JsonElement jsonElement){
Gson gson = new Gson();
{{response_name}} temp = gson.fromJson(jsonElement, {{response_name}}.class);
this.Response = temp.getResponse();
this.ErrorCode = temp.getErrorCode();
this.ThrottleSeconds = temp.getThrottleSeconds();
this.ErrorStatus = temp.getErrorStatus();
this.Message = temp.getMessage();
this.MessageData = temp.getMessageData();
this.DetailedErrorTrace = temp.getDetailedErrorTrace();
temp = null;
json = jsonElement;
}

public {{{response_type}}} getResponse(){ return Response; }
public int getErrorCode(){ return ErrorCode;}
public int getThrottleSeconds() { return ThrottleSeconds; }
public String getErrorStatus() { return ErrorStatus; }
public String getMessage() { return Message; }
public Map
<String, String> getMessageData() { return MessageData; }
public String getDetailedErrorTrace() { return DetailedErrorTrace; }
public JsonElement getAsJson() { return json; }
}